// color var
@theme-color: #2C3E50;
@nav-color: @theme-color;
@back-color: #BDC3C7;
@title-back-color: #95A5A6;
@article-back-color: #ECF0F1;
@state-on-color: #27AE60;
@state-off-color: @back-color;
@text-white-color: #FFFFFF;
@text-black-color: @theme-color;

// value var
@nav-height: 50px;
@content-small-size: 90vw;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

// media query mixin
.screen-sm(@rules){
  @media (min-width: @screen-sm-min){
    @rules();
  }
}
.screen-md(@rules){
  @media (min-width: @screen-md-min) { @rules(); }
}
.screen-lg(@rules){
  @media (min-width: @screen-lg-min) { @rules(); }
}

